@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.lang-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.language {
  cursor: pointer;
  border: 3px solid #ffffff;
  margin: 20px 50px;
  padding: 20px 30px;
  font-size: 20px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-wrapper {
  width: 90vw;
}

.weather-actual-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.weather-localization {
  display: block;
  background: radial-gradient(
    circle,
    rgba(246, 174, 202, 0.7) 26%,
    rgba(84, 146, 233, 0.2) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
  border-radius: 4px;
  padding-bottom: 10px;
}

.weather-localization h2 {
  padding: 20px 20px 0 20px;
}
.weather-time {
  padding: 0px 20px 0 20px;
}

.actual-temp {
  font-size: 50px;
}

.weather-info {
  background: #fff;
  color: #000;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
}

.weather-info-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.forecast-wrapper {
  background: #ffffff;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
  color: #000000;
  padding: 20px;
}

.forecast-wrapper-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.forecast-grid {
  justify-self: center;
  width: 100%;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      hsla(0, 0%, 87.1%, 0) 0,
      #dedede 25%,
      #dedede 70%,
      hsla(0, 0%, 87.1%, 0) 85%,
      hsla(0, 0%, 87.1%, 0)
    )
    1 100%;
}

.forecast-grid:nth-child(4n + 0) {
  border: none;
}

.forecast-date {
  font-size: 18px;
}

.forecast-icon {
  width: 60px;
}

.forecast-info {
  font-size: 14px;
}

@media (max-width: 768px) {
  .lang-wrapper {
    flex-direction: column;
  }
}
